<div class="entiteitenpage m-2">
     <div style="display: flex;">
       <p>{{ 'entiteiten_comp.title' | translate}}</p>
       <ng-template #entiteitTipContent>
        <p class="toolTipTekstColor"><b>Entiteit: </b>{{ 'entiteiten_comp.questionmark' | translate }}</p>
      </ng-template>
       <i class="fa fa-question-circle m-1"
        placement="right"  [openDelay]="300" [closeDelay]="2000"
        [ngbTooltip]="entiteitTipContent"></i>
     </div>
     <mat-form-field hintLabel="" appearance="fill" class="toelichting">
      <mat-label>{{ 'entiteiten_comp.entity_name' | translate}}</mat-label>
      <input [(ngModel)]="newEntityName" matInput placeholder="{{ 'entiteiten_comp.placeholder_entity' | translate}}">
    </mat-form-field>
    <mat-form-field hintLabel="" appearance="fill" class="toelichting">
      <mat-label>{{ 'global_params.code' | translate}}</mat-label>
      <input [(ngModel)]="newEntityCode" matInput placeholder="{{ 'entiteiten_comp.placeholder_code' | translate}}">
    </mat-form-field>
    <mat-form-field hintLabel="" appearance="fill" class="toelichting">
      <mat-label>{{ 'global_params.description' | translate}}</mat-label>
      <input [(ngModel)]="newEntityDescription" matInput placeholder="{{ 'entiteiten_comp.placeholder_description' | translate}}">
    </mat-form-field>
        <button type="button" class="mx-2" mat-raised-button (click)="SaveEntity()">{{ 'global_params.save' | translate}}</button>
        <!--Explanation of use:
        <ng-template #entiteitExplanationContent>

          <p class="toolTipTekstColor">De Entiteit of bouwwerk heeft meestal al een naam. Maar we hebben ook een verkorte code nodig die dit gebouw aangeeft en een beschrijving.</p>
        </ng-template>
        <i class="fa fa-question-circle mx-2"
        placement="right"  [openDelay]="300" [closeDelay]="2000"
        [ngbTooltip]="entiteitExplanationContent"></i>-->
     </div>
        <hr>
        <p class="smallInfo m-2">{{ 'entiteiten_comp.small_text' | translate}}</p>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-2">

         <!--- Note that these columns can be defined in any order.
               The actual rendered columns are set as a property on the row definition" -->

         <ng-container matColumnDef="code">
           <th mat-header-cell *matHeaderCellDef> {{ 'global_params.code' | translate}} </th>
           <td mat-cell *matCellDef="let element">[E]#{{element.code}} </td>
         </ng-container>

         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> {{ 'entiteiten_comp.entity_name' | translate}} </th>
           <td mat-cell *matCellDef="let element"> 
            <p *ngIf="!element.edit">{{element.name}} </p>
            <p *ngIf="element.edit"> 
              <mat-form-field hintLabel="" appearance="fill" class="toelichting">
                <mat-label>{{element.name}}</mat-label>
                <input [(ngModel)]="PUTName" matInput>
            </mat-form-field>
            </p> 

           </td>
         </ng-container>

         <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Beschrijving </th>
          <td mat-cell *matCellDef="let element"> 
            <p *ngIf="!element.edit">{{element.description}} </p>
            <p *ngIf="element.edit"> 
              <mat-form-field hintLabel="" appearance="fill" class="toelichting">
                <mat-label>{{element.description}}</mat-label>
                <input [(ngModel)]="PUTDescription" matInput>
            </mat-form-field>
            </p> 
           </td>
        </ng-container>

         <ng-container matColumnDef="raming">
           <th mat-header-cell *matHeaderCellDef> {{ 'entiteiten_comp.temp_raming' | translate}} </th>
           <td mat-cell *matCellDef="let element">  </td>
         </ng-container>

         <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> {{ 'global_params.edit' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <p *ngIf="!element.edit"><button (click)="changeEdit(element)"><mat-icon>edit</mat-icon></button></p>
            <p *ngIf="element.edit">
              <button (click)="updateElement(element)"><mat-icon>done_outline</mat-icon></button>
              <button (click)="changeEdit(element)"><mat-icon>highlight_off</mat-icon></button>
            </p>
          </td>
        </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> {{ 'global_params.delete' | translate}} </th>
            <td mat-cell *matCellDef="let element"><button  (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button></td>
          </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
