<div class="gridcontainer">
  <div class="item-background">
    <button mat-raised-button [routerLink]="['/Project']" class="item-start-project">{{'home_screen_comp.start' | translate}}</button>
  </div>

  <div class="item-one item-textbox" style="background-color:#007bff;">
    <h5>{{'home_screen_comp.block1.title' | translate}}</h5>
    <p>{{'home_screen_comp.block1.txt' | translate}}</p>
  </div>
  <div class="item-two item-textbox" style="background-color:#007bff;">
    <h5>{{'home_screen_comp.block2.title' | translate}}</h5>
    <p>{{'home_screen_comp.block2.txt' | translate}}</p>
  </div>
  <div class="item-three item-textbox" style="background-color:#007bff;">
    <h5>{{'home_screen_comp.block3.title' | translate}}</h5>
    <p>{{'home_screen_comp.block3.txt' | translate}}</p>
  </div>
  <div class="item-four item-textbox" style="background-color:#007bff;">
    <h5>{{'home_screen_comp.block4.title' | translate}}</h5>
    <p>{{'home_screen_comp.block4.txt' | translate}}</p>
  </div>
</div>
