<div class="container" style="color: black; font-family: Segoe UI; font-size: smaller;">
  <div class="row">
    <div class="col-9 m-2 p-3" style="border: darkgray solid 1px;">
      <h3 class="text-center">{{'elearner_screen_comp.title' | translate}}</h3>
      <p class="mb-0">
        {{'elearner_screen_comp.block1.txt1' | translate}}
        <br><br>
        {{'elearner_screen_comp.block1.txt2' | translate}}
        <br>
        {{'elearner_screen_comp.block1.txt3' | translate}}
        <br><br>
        {{'elearner_screen_comp.block1.txt4' | translate}}
      </p>
    </div>
    <div class="col-2 m-2">
      <!--Hier komt nog een button voor de opleiding-->
      <button disabled class="btn btn-primary m-5" style="width: 150px; height: 100px;" [routerLink]="['/elearner_opleiding']">{{ 'elearner_screen_comp.btn_course' | translate }}</button>
    </div>
  </div>
  <div class="row">
    <div class="logoImage col p-2">
    </div>
    <div class="col m-2 p-3" style="border: darkgray solid 1px;">
      <p class="mb-0">
        {{'elearner_screen_comp.block2.txt1' | translate}}
        <br><br>
        {{'elearner_screen_comp.block2.txt2' | translate}}
        <br><br>
        {{'elearner_screen_comp.block2.txt3' | translate}}
        <br><br>
        {{'elearner_screen_comp.block2.txt4' | translate}}
        <br><br>
        {{'elearner_screen_comp.block2.txt5' | translate}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col m-2 p-3" style="border: darkgray solid 1px;">
      <p class="mb-0">
         {{'elearner_screen_comp.block3.txt1' | translate}}
        <br><br>
        {{'elearner_screen_comp.block3.txt2' | translate}}
        <br><br>
        {{'elearner_screen_comp.block3.txt3' | translate}}
        <br><br>
        {{'elearner_screen_comp.block3.txt4' | translate}}
      <p style="font-size: x-small;">{{'elearner_screen_comp.block3.citName' | translate}}</p>
    </div>
  </div>
</div>
